openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Rabbit Web API'
  description: 'Web Resources Specification (A7)'

servers:
- url: http://lbaw22124.lbaw.fe.up.pt
  description: Production server

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Communities'
  - name: 'M03: Posts'
  - name: 'M04: User Administration and Static pages'

paths:

# M01 - User Authentication and Individual Profiles

  /login:

    get:
      operationId: R101  
      summary: 'R101 Login Form'
      description: 'Provide Login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Login UI'

    post: 
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the Login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                required:
                  - email
                  - password

      responses:
        '302':
          description: 'Redirect after processing the Log in credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to homepage.'
                  value: '/main'
                302Error:
                  description: 'Failed authentication. Redirect to Log in form.'
                  value: '/login' 

  /logout:
    
    post: 
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      tags: 
        - 'M01: Authentication and Individual Profile'

      responses:
        '302':
          description: 'Redirect after processing Logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Sucessful Logout. Redirect to homepage.'
                  value: '/login'

  /register:
    
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags: 
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show Register UI'
      
    put: 
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Process the new user registration form submission. Acess: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - username
                - email
                - password
      
      responses:
        '302': 
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to main page.'
                  value: '/main'
                302Failure:
                  description: 'Failed authentication. Redirect to registration form.'
                  value: '/register'

  /user/{id}:

    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Provide individual user profile UI. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true 
      
      responses:
        '200':
          description: 'Ok. Show view profile UI'
        '404':
          description: 'Error. User not found'
    
  /user/{id}/edit:

    get:
      operationId: R107
      summary: 'R107: View Edit user profile'
      description: 'Provide Edit Profile Form. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 
      
      responses:
        '200':
          description: 'Ok. Show edit profile UI'  
        '404':
          description: 'Error. User not found'  

    post:
      operationId: R108
      summary: 'R108: Edit user profile action'
      description: 'Process the user profile editing form submission. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bio:
                  type: string
                password:
                  type: string
                show_communities:
                  type: boolean
              
      responses:
        '201':
          description: 'Ok. Profile edited successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '403':
          description: 'Error. Forbidden action.'
        '404':
          description: 'Error. User not found.'

  /user/{id}/delete:

    delete:
      operationId: R109
      summary: 'R109: Delete user profile'
      description: 'Deletes the users profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 

      responses:
        '200':
          description: 'Ok. User deleted.'
        '404' :
          description: 'Error. User not found.'        
  
  /user/{id}/notifications:

    get:
      operationId: R110
      summary: 'R110: View user notifications'
      description: 'Displays users notifcation. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 
      
      responses:
        '200':
          description: 'Ok. Show notifications UI'  
        '404':
          description: 'Error. User not found'  



  /likeNotifcation/{id}/delete:

    delete:
      operationId: R111
      summary: 'R111: Deletes a like notification'
      description: 'Deletes a like notification. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 

      responses:
        '200':
          description: 'Ok. Notfication deleted.'
        '404':
          description: 'Error. User not found' 

  /followNotifcation/{id}/delete:

    delete:
      operationId: R112
      summary: 'R112: Deletes a follow notification'
      description: 'Deletes a follow notification. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 

      responses:
        '200':
          description: 'Ok. Notifcation deleted.'
        '404':
          description: 'Error. User not found' 

  /replyNotifcation/{id}/delete:

    delete:
      operationId: R113
      summary: 'R113: Deletes a reply notification'
      description: 'Deletes a reply notification. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 

      responses:
        '200':
          description: 'Ok. Notification deleted.'
        '404':
          description: 'Error. User not found' 

  

# M02 - Communities

  /api/communities:

    get:
      operationId: R201
      summary: 'R201: Community Search'
      description: 'Search for communities. Access: PUB'
      tags:
        - 'M02: Communities'

      parameters:
        - in: query
          name: query
          description: 'String to use for full-text search'
          schema:
            type: string
          required: false
        - in: query
          name: tag
          description: 'Only communities with at least one of the given tags will be considered for the search'
          schema:
            type: array
            items:
              type: string
          required: false
        - in: query
          name: owner
          description: 'Only communities that are owned by the user will be shown' 
          schema:
            type: integer
          required: false 
      
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    owner:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                    founded_date:
                      type: string
                    tag:
                      type: string
                example:
                  - id: 2
                    owner: 4
                    name: lbawmemes
                    description: The best memes of the LBAW course are all found here.
                    founded_date: 2019-12-22
                    tag: memes
                  - id: 3
                    owner: 6
                    name: laravel
                    description: The best community to stay informed about new laravel updates and news.
                    founded_date: 2019-12-22
                    tag: tech

  /community/{id}:
  
    get:
      operationId: R202
      summary: 'R202: View community page'
      description: 'Show the individual community page. Access: PUB'
      tags:
        - 'M02: Communities'
      
      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true 
      
      responses:
        '200':
          description: 'Ok. Show view community UI'
        '404':
          description: 'Error. Community not found'

  
  /community/{id}/edit:

    get:
      operationId: R203
      summary: 'R203: View edit community page'
      description: 'Show the edit community page. Access: CUWN'
      tags:
        - 'M02: Communities'
      
      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true 
      
      responses:
        '200':
          description: 'Ok. Show edit community UI.'
        '403':
          description: 'Unauthorized action.'
        '404':
          description: 'Error. Community not found.'

    post:
      operationId: R204
      summary: 'R204: Edit community action'
      description: 'Process the community editing form submission. Access: CUWN'
      tags:
        - 'M02: Communities'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
  
      responses:
        '201':
          description: 'Ok. Community edited successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '403':
          description: 'Error. Forbidden action.'
        '404':
          description: 'Error. Community not found.'

  /community/{id}/follow:
    put:
      operationId: R205
      summary: 'R205: Follow community action'
      description: 'Process the community follow action. Access: USR'
      tags:
        - 'M02: Communities'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 


      responses:
        '201':
          description: 'Ok. Community followed successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '404':
          description: 'Error. Community not found.'

  /community/{id}/unfollow:
    delete:
      operationId: R206
      summary: 'R206: Unfollow community action'
      description: 'Process the community unfollow action. Access: USR'
      tags:
        - 'M02: Communities'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 
  
      responses:
        '201':
          description: 'Ok. Community unfollowed successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '404':
          description: 'Error. Community not found.'

# M03 - Posts 

  /community/{id}/submit:
    get:
      operationId: R301
      summary: 'R301: View create post form'
      description: 'Provides the form that allows the creation of a post. Access: USR'
      tags:
        - 'M03: Posts'

      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show create post UI.'
        '404':
          description: 'Error. Community not found'

    put:
      operationId: R302
      summary: 'R302: Create post action'
      description: 'Processes the create a post form sub. Access: USR'
      tags:
        - 'M03: Posts'

      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title: 
                  type: string
                text:
                  type: string
                image:
                  type: string
                  format: byte
                required:
                  - title

      responses: 
        '302': 
          description: 'Redirect after processing the created post.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful submit of the post. Redirect to the post page.'
                  value: '/post/{id}/'
                302Failure:
                  description: 'Failed post creation. Redirect to the create post page.'
                  value: '/community/{id}/submit/'

  post/{id}:
    get:
      operationId: R303
      summary: 'R303: View post'
      description: 'Shows an individual post. Access: PUB'
      tags:
        - 'M03: Posts'

      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show post UI.'
        '404':
          description: 'Error. Post not found'

    delete:
      operationId: R304
      summary: 'R304: Delete post action'
      description: 'Deletes a post. Access: POWN, MOD, ADM'
      tags:
        - 'M03: Posts'

      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Post deleted.'
        '403':
          description: 'Error. Insufficient permissions' # TODO: Error code quando um post owner tenta apagar um post com replies / likes / etc.
        '404':
          description: 'Error. Post not found'

  /post/{id}/edit:
    get:
      operationId: R305
      summmary: 'R305: View Edit Post Form'
      description: 'Provide edit post form. Access: POWN'
      tags:
      - 'M03: Posts'

      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show edit post UI.'
        '403':
          description: 'Error. Insufficient permissions'
        '404':
          description: 'Error. Post not found'


    post:
      operationId: R306
      summary: 'R306: Edit Post Action'
      description: 'Processes the edit post form submission. Access: PWN'
      tags:
        - 'M03: Posts'

      parameters:
        - in: path 
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                new_title: 
                  type: string
                new_text:
                  type: string
                new_image:
                  type: string
                  format: byte
                required:
                  - new_title

      responses: 
        '302': 
          description: 'Redirect after processing the edited post.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit of the post. Redirect to the post page.'
                  value: '/post/{id}/'
                302Failure:
                  description: 'Failed edit of the post. Redirect to the same page.'
                  value: '/post/{id}/'

  /api/posts:
    get:
      operationId: R307
      summary: 'R307: List posts'
      description: 'Show list posts. Access: PUB'
      tags:
        - 'M03: Posts'
      parameters:
        - in: query
          name: query
          description: 'String to use for full-text search'
          schema:
            type: string
          required: false
        - in: query
          name: author
          description: 'Only posts that were submitted by the given user will be shown'
          schema:
            type: integer
          required: false
        - in: query
          name: community
          description: 'Only posts that were submitted to the given community will be shown'
          schema:
            type: integer
          required: false 
      
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    post_date:
                      type: string
                    community:
                      type: string
                    tag:
                      type: string
                    likes:
                      type: string
                    dislikes:
                      type: string
                    author:
                      type: string
                    title:
                      type: string
                    text:
                      type: string
                    image:
                      type: string
                      format: byte
                    is_edited:
                      type: string

                example:
                  - id: 10
                    post_date: 2022-11-11
                    community: lbawmemes
                    tag: relatable
                    likes: 16
                    dislikes: 3
                    author: VeryRealUser8261
                    title: An interesting title
                    text: 
                    image: 36
                    is_edited: false
                  - id: 10
                    post_date: 2022-10-20
                    community: lbawmemes
                    tag: sad
                    likes: 60
                    dislikes: 7
                    author: OriginalName142
                    title: An uninteresting title
                    text:
                    image: 72
                    is_edited: true

  /main:
    get:
      operationId: R308
      summary: 'R308: View main'
      description: 'Provides the homepage view. Access: PUB'
      tags:
        - 'M03: Posts'

      responses:
        '200':
          description: 'Ok. Show homepage UI.'
  
  /main/hot:
    get:
      operationId: R309
      summary: 'R309: View hot'
      description: 'Provides the hot page view. Access: PUB'
      tags:
        - 'M03: Posts'

      responses:
        '200':
          description: 'Ok. Show Hot page UI.'

  /main/new:
    get:
      operationId: R310
      summary: 'R310: View new'
      description: 'Provides the recent posts page view. Access: PUB'
      tags:
        - 'M03: Posts'

      responses:
        '200':
          description: 'Ok. Show New page UI.'

  /main/top:
    get:
      operationId: R311
      summary: 'R311: View top'
      description: 'Provides the most liked posts page view. Access: PUB'
      tags:
        - 'M03: Posts'

      responses:
        '200':
          description: 'Ok. Show Top page UI.'
  
  /post/{id}/like:
    put:
      operationId: R312
      summary: 'R312: Like post action'
      description: 'Likes a post. Access: USR'
      tags:
        - 'M03: post'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 


      responses:
        '201':
          description: 'Ok. Post liked successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '404':
          description: 'Error. Post not found.'

    delete:
      operationId: R313
      summary: 'R313: Remove like from post action'
      description: 'Removes a like from a post. Access: USR'
      tags:
        - 'M03: post'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 


      responses:
        '201':
          description: 'Ok. Post like removed successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '404':
          description: 'Error. Post not found.'

  /post/{id}/dislike:
    put:
      operationId: R314
      summary: 'R314: Dislike post action'
      description: 'Dislikes a post. Access: USR'
      tags:
        - 'M03: post'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 


      responses:
        '201':
          description: 'Ok. Post disliked successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '404':
          description: 'Error. Post not found.'

    delete:
      operationId: R315
      summary: 'R315: Remove dislike from post action'
      description: 'Removes a dislike from a post. Access: USR'
      tags:
        - 'M03: post'

      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 


      responses:
        '201':
          description: 'Ok. Post dislike removed successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '404':
          description: 'Error. Post not found.'

  /post/{id}/comment:
    put: 
      operationId: R316
      summary: 'R316: Comment post action'
      description: 'Processes comment creation. Acess: USR'
      tags:
        - 'M03: post'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                comment:
                  type: string
      
      responses:
        '201':
          description: 'Ok. Comment created successfully.'
        '401':
          description: 'Error. Unauthenticated user.'
        '404':
          description: 'Error. Post not found.'

  

#M04 - User administration and Static Pages
  #delete user

  /admin:
      get:
        operationId: R401
        summary: 'R401: View Admin Page'
        description: 'Provides the Admin page View. Access: ADM'
        tags:
          - 'M04: User administration and Static Pages'

        responses:
          '200':
            description: 'Ok. Show Admin Page UI.'
      
      put: 
        operationId: R402
        summary: 'R402: Create User Action'
        description: 'Process the creation of a user form submission. Acess: ADM'
        tags:
          - 'M04: User administration and Static Pages'
        
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  email:
                    type: string
                  password:
                    type: string
                required:
                  - username
                  - email
                  - password
        
        responses:
          '302': 
            description: 'Redirect after processing the new user information.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful creation. Redirect to Admin page.'
                    value: '/admin'
                  302Failure:
                    description: 'Failed creation. Redirect to Admin page.'
                    value: '/admin'

      delete:
        operationId: R403
        summary: 'R403: Delete user'
        description: 'Deletes a user from the platform, making all of their data anonymous. Access: ADM'
        tags:
          - 'M04: User Administration and Static pages'

        parameters:
          - in: path 
            name: id 
            schema:
              type: integer
            required: true 

        responses:
          '200':
            description: 'Ok. User deleted.'

  /about:
  
    get:
      operationId: R404
      summary: 'R404: View About Page'
      description: 'Provides the about page page view. Access: PUB'
      tags:
        - 'M04: User administration and Static Pages'

      responses:
        '200':
          description: 'Ok. Show about page UI.'


  /help:
  
    get:
      operationId: R405
      summary: 'R405: View help Page'
      description: 'Provides the help page page view. Access: PUB'
      tags:
        - 'M04: User administration and Static Pages'

      responses:
        '200':
          description: 'Ok. Show help page UI.'


  /contacts:

    get:
      operationId: R406
      summary: 'R405: View contacts Page'
      description: 'Provides the contact page page view. Access: PUB'
      tags:
        - 'M04: User administration and Static Pages'

      responses:
        '200':
          description: 'Ok. Show contact page UI.'
