openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Rabbit Web API'
  description: 'Web Resources Specification (A7)'

servers:
- url: http://lbaw22124.lbaw.fe.up.pt
  description: Production server

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Communities'
  - name: 'M03: Posts'
  - name: 'M04: Comments'
  - name: 'M05: User Administration and Static pages'

paths:

  /signin:
    get:
      operationId: R101  
      summary: 'R101 Login Form'
      description: 'Provide Sign In form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign In UI'
    post: 
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the Sign In form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                required:
                  - username
                  - email
                  - password

      responses:
        '302':
          description: 'Redirect after processing the Sign In credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to Sign In form.'
                  value: '/signin' 

  /signout:
    
    post: 
      operationId: R103
      summary: 'R103: Sign Out Action'
      description: 'Sign Out the current authenticated user. Access: USR, ADM'
      tags: 
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing Sign Out.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Sucessful Sign Out. Redirect to Sign In form.'
                  value: '/signin'

  /signup:
    
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags: 
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign Up UI'
      
    post: 
      operationId: R105
      summary: 'R105: Sign Up Action'
      description: 'Process the new user registration form submission. Acess: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - username
                - email
                - password
      
      responses:
        '302': 
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to Sign In form.'
                  value: '/signin'

  /users/{id}:

    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 
      
      responses:
        '200':
          description: 'Ok. Show view profile UI'
    


  /api/communities:
    get:
      operationId: R204
      summary: 'R204: View community page and its posts'
      description: 'Show view community and its posts. Acess: PUB'
      tags:
        - 'M02: Communities'
      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: tag
          description: Only communities with at least one of the given tags will be considered for the search
          schema:
            type: array
            items:
              type: string
          required: false
        - in: query
          name: owner
          description: Only communities 
          schema:
            type: object
            properties:
              user_id: 
                type: integer
              is_owned: 
                type: boolean
              required:
                - user_id
                - is_owned
          required: false 
      
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    owner:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                    founded_date:
                      type: string
                    tag:
                      type: string
                example:
                  - id: 2
                    owner: 4
                    name: lbawmemes
                    description: The best memes of the LBAW course are all found here.
                    founded_date: 2019-12-22
                    tag: memes
                  - id: 3
                    owner: 6
                    name: laravel
                    description: The best community to stay informed about new laravel updates and news.
                    founded_date: 2019-12-22
                    tag: tech

# view community page

  /community/{id}:
  
    get:
      operationId: R204
      summary: 'R204: View community page'
      description: 'Show the individual community page. Access: PUB'
      tags:
        - 'M02: Communities'
      
      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 
      
      responses:
        '200':
          description: 'Ok. Show view community UI'


  /create_community:

    get:
      operationId: R202  
      summary: 'R202: View create/edit community page'
      description: 'Provide Create Community form. Access: USR'
      tags:
        - 'M02: Communities'
      responses:
        '200':
          description: 'Ok. Show create community UI'
    
    post:
      operationId: R202
      summary: 'R202: Create/Edit community action'
      description: 'Processes the create community or edit community form submission. Access: USR'
      tags:
        - 'M02: Communities'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                tag:
                  type: string
                icon:
                  type: integer
                banner:
                  type: integer
                # dúvida - passar um token?
                required:
                  - name
                  - description
                  - tag
                  - icon
      
      responses:
        '302': 
          description: 'Redirect after processing the created community information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to the created community page.'
                  value: '/community/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to create community form.'
                  value: '/create_community'
