openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Rabbit Web API'
  description: 'Web Resources Specification (A7)'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Communities'
  - name: 'M03: Posts'
  - name: 'M04: Comments'
  - name: 'M05: User Administration and Static pages'

paths:

  /signin:
    get:
      operationId: R101  
      summary: 'R101 Login Form'
      description: 'Provide Sign In form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign In UI'
    post: 
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the Sign In form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                required:
                  - username
                  - email
                  - password

      responses:
        '302':
          description: 'Redirect after processing the Sign In credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to Sign In form.'
                  value: '/signin' 

  /signout:
    
    post: 
      operationId: R103
      summary: 'R103: Sign Out Action'
      description: 'Sign Out the current authenticated user. Access: USR, ADM'
      tags: 
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing Sign Out.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Sucessful Sign Out. Redirect to Sign In form.'
                  value: '/signin'

  /signup:
    
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags: 
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign Up UI'
      
    post: 
      operationId: R105
      summary: 'R105: Sign Up Action'
      description: 'Process the new user registration form submission. Acess: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - username
                - email
                - password
      
      responses:
        '302': 
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to Sign In form.'
                  value: '/signin'

  /users/{id}:

    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      parameters:
        - in: path 
          name: id 
          schema:
            type: integer
          required: true 
      
      responses:
        '200':
          description: 'Ok. Show view profile UI'


  /api/communities:
    get:
      operationId: R201
      summary: 'R201: Search communities API'
      description: 'Searches for communities and returns results as JSON. Access: PUB'
      tags:
        - 'M02: Communities'
      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: tag
          description: Category of the communities
          schema:
            type: string
          required: false
        - in: query
          name: owner
          description: Boolean with the owner flag value
          schema:
            type: boolean
          required: false 
      
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    owner:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                    founded_date:
                      type: string
                    tag:
                      type: string
                example:
                  - id: 2
                    owner: 4
                    name: lbawmemes
                    description: The best memes of the LBAW course are all found here.
                    founded_date: 22-12-2019
                    tag: memes
                  - id: 3
                    owner: 6
                    name: laravel
                    description: The best community to stay informed about new laravel updates and news.
                    founded_date: 22-12-2019
                    tag: tech

