@import url('https://fonts.googleapis.com/css2?family=Artifika&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#admin-content {
  display: grid;
  grid-template-areas: "posts user"
                       "comments user";
  column-gap: 2em;
  font-family: 'PT Sans', serif;
}

h2 {
  font-size: 40px;
  text-align: center;
}

#report-posts {
  grid-area: posts;
}

#report-comments {
  grid-area: comments;
}

#report-posts, #report-comments {
  font-size: 1.2em;
  margin: 1em;
}

table {
  border-spacing: 1em 0px;
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 1.4em;
  border-bottom: 3px solid rgb(113, 113, 113);
  max-width: 100%;
  text-align: left;
}


tbody tr:nth-child(even) {
  border-bottom: 2px solid rgb(6, 53, 133);
}

tbody tr:nth-child(odd) {
  border-bottom: 2px solid black;
}

td {
  padding: 1em 1em 1em 0;
}

#manage-users {
  justify-self: center;
  margin-top: 1em;
}

#manage-users > form {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
}

#manage-users > form > input {
  border-radius: 15px;
  padding: 8px;
  border: 1px solid black;
  background-color: #ffffffff;
  transition: all 0.3s;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;  
}

#manage-users > form > input:focus {
  background-color: white;
}

#manage-users > form button {
  font-family: 'PT Sans', sans-serif;
  padding: 8px;
  width: 70px;

  background-color: #EF233C;
  color: #EDF2F4;
  border-radius: 10px;
  outline: 0px solid transparent;
  font-weight: 700;
  box-shadow: none;
  transition: all 0.3s;
  align-self: flex-end;
}

#manage-users form.auth-form button {
  font-size: 1.5rem;
  width: 150px;
}

#manage-users > form button:hover {
  background-color: #ca002f;
  color: white;
  background-color: #76001c;
}

#manage-users > form button:focus {
}

#manage-users > form.auth-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

