#community-container {
    display: grid;
    grid-template-areas: "info info"
                         "data options";
}

#signin {
    margin: 0;
  }
  
/*community info styling*/

div #community-info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(242, 242, 242);
    align-items: left;

    border-bottom: 1px solid #d5d5d5;
  
}


#community-details{
    display: flex;
    flex-direction: row;
  
    align-items: left;
    align-content: left;
    justify-items: left;
  
    border-radius: 2px;
    color: black;
    padding: 1em;
    row-gap: 2em;
    border-bottom: 1px solid #dfdede;
  
}

#community-banner{
    color: white;
    background-size: cover;
    background-position: center center;
    background-color: darkslateblue;
    height: 20vh;
    text-align: center;
    font-size: 45px;
}



#community-img-name{
    display: flex;
    flex-direction: row;
    align-items: left;
}

#community-img-name > img{
    grid-area: image;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: black;
    border-width: 5em;
}

#name_com{
    display:flex;
    flex-direction: column;
    align-items: left;
    margin:0;
}


#name{
    font-size: 1.8em;
    font-weight: 600;
    margin: 0%;
}

#c_slash{
    font-weight: 300;
    margin: 0%;
}


div #community-options{
    grid-area: options;
}

div #community-data{
    grid-area: data;
    justify-self: center;
    margin-top: 1em;
}



#community-data-options ul {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin: 0;
  
    justify-content: flex-start;
  
    background-color: #DF2C56;
    border-bottom: 2px solid #c0002d;
    color: white;
    padding: 20px;
  
    font-size: 1.2em;
  
    list-style-type: none;
    list-style-position: inside;
  }
  

