#help-content {
    margin-top: 1em;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    justify-content: center;
}

#help-content h1{
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 1rem;
}


#help-content h2{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0.5em;
    text-align: left;
}

#help-content p{
    font-size: 1.5em;
}

#help-content li{
    font-size: 1.5em;
    display: list-item;
}