#main-content {
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sort pop-c"
        "main-posts pop-c";
    justify-content: center;
}

#main-content #sort{
    grid-area: sort;
}

#main-content #pop-c{
    grid-area: pop-c;
}

#main-content #main-posts{
    grid-area: main-posts;
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    row-gap: 2em;
}

@media (max-width: 900px) {
  #main-content {
    margin-left: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
        "sort"
        "pop-c"
        "main-posts";
    row-gap: 2em;
    justify-content: left;
  }

  #main-content #sort{
    width: 490px;
  }

  #main-content #main-posts{
    width: 490px;
  }

  #main-content #main-posts .gap-x-24 > *:not(first-child){
    margin-left: 5px;
    width: 35px;  
  }

  

}
