#profile-container {
  display: grid;
  grid-template-areas: "options options"
                       "info data";
}

/* profile options styling */

#profile-options {
  grid-area: options;
}

div #user-data {
  grid-area: data;

  justify-self: center;

  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

div #user-info {
  grid-area: info;
}



