#about-community {
  border-radius: 10px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-bottom: 10px;
}

#about-community * {
  margin: 0px 8px;
}

#about-community > :first-child {
  border-radius: 10px 10px 0px 0px;
  background-color: #2B2D42;
  padding: 5px 8px;
  width: 100%;
  margin-left: 0px;
}

#about-community > div > h1 {
  margin: 0;
  color: #F8F8F8;
  font-weight: 400;
}

#about-community #community-image-name {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  align-self: center;
}

#about-community #community-image-name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #2B2D42;
  margin: 0px;
}

#about-community #community-image-name a {
  padding: 0;
  margin: 0;
  color: black;
  height: fit-content;
}

#about-community #community-description {
  width: 90%;
  font-size: 0.9rem;
  font-weight: 300;
}

#about-community #created-members {
  align-self: center;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

#about-community #created-members > * {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  align-items: center;
}

#about-community #created-members > * p {
  margin: 0;
}

#about-community #created-members > * p i {
  margin: 0;
}

#about-community #created-members > * p span {
  font-size: 0.9rem;
  margin: 0;
}

#about-community form {
  width: 70%;
  margin: 0;
  align-self: center;
}

#about-community button {
  background-color: #EF233C;
  color: #EDF2F4;
  border-radius: 10px;
  outline: 0px solid transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  box-shadow: none;
  padding: 3px 10px;
  transition: all 0.3s;
  width: 100%;
  margin: 0;
}

#about-community button:hover {
  background-color: #ca002f;
}

#about-community button:focus {
  color: white;
  background-color: #76001c;
}
