@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* header in general */
header {
  background-color: #2B2D42;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;

  position: sticky;
  height: 60.8px;
  width: 100vw;
  padding: 10px 0;
}

header > * {
  display: inline;
  padding: 0 10px 0 10px;
}

header > #logo-container {
  justify-self: start; 
}

 /* search bar container */
header > #search-bar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-self: center;
  height: 60%;
  width: 500px;
}

header > #search-bar-container > form {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header > #search-bar-container > form i {
  position: absolute;
  left: 20px;
  color: #2B2D42;
  font-size: 1rem;
}

/* search bar in itself */

header #search-bar input {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  padding-left: 30px;
}

/* sign in/up container */

header #header-signup-container {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-self: end;
}

/* sign in/up link */

header #header-signup-container a {
  padding: 0.1em 0.3em;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
  transition: background-color 0.3s ease;
}

/* hover and focus for links */

header #header-signup-container a:hover {
  background-color: #8D99AE;
}

header #header-signup-container a:focus {
  background-color: #f8f8f8;
  color: #8D99AE;
}

/* special styling for sign-in */
header #header-signup-container #header-signin {
  border: 2px solid #8D99AE;
  padding-top: calc(0.1em - 2px);
  padding-bottom: calc(0.1em - 2px);;
  text-align: center;
}

/* special styling for sign-up */
header #header-signup {
  background-color: #54637c;
}


header #header-user-profile {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-self: end;
}