 /* search bar container */
 header > #search-bar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-self: center;
  height: 60%;
  width: 500px;
}

header > #search-bar-container > form {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



