@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#pop-c{
    display: flex;
    flex-direction: column;
    width: 20em;
    font-family: 'Poppins', sans-serif;
    margin-left: 5em;
}
#pop-c h2{
    background-color: #2b2d42;
    color: #edf2f4;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 5px 5px;
    font-size: 1.5rem;
}
#link-community a{
    color: black;
    font-size: 1.5em;
}
#pop-bottom {
    background-color: #8d99ae;
    border-radius: 15px;
}
#pop-bottom #link-community:last-child {
    background-color: #8d99ae;
    border-radius: 15px;
    
}

/*#pop-load{
    text-align: center;
    padding: 5px 10px;
}
#pop-load button{
    padding: 5px 2em;
}*/
#link-community{
    background-color: #8d99ae;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}


#link-community button {
    background-color: #EF233C;
    color: #EDF2F4;
    border-radius: 10px;
    outline: 0px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    box-shadow: none;
    padding: 3px 10px;
    transition: all 0.3s;
    width: 90px;
    margin: 0;
  }
  
#link-community button:hover {
    background-color: #ca002f;
  }
  
#link-community button:focus {
    color: white;
    background-color: #76001c;
  }
  